#header{
  background-color:$mainBlue;
  height: 100vh;
}



#headerText{
  height:100%;
  width:50%;
  padding:65px 65px;
  text-align: center;
  color:white;
  display: flex;
  align-items: center;

  #headerTextWrapper{

    h1{
      font-size: 75px;
      font-weight: 200;
    }
  }

}

#headerImage{
  height:100%;
  width:50%;
  background: url("public/images/codeWallpaper.png") no-repeat center center;
  background-size:cover;
}