#navbar{
  background-color: $mainDark;
  //justify-content: space-between;
  position: fixed;
  top: 0px;
  height:100vh;
  width:200px;
  display: flex;
  flex-flow: column;
}

#navList{
  list-style: none;
  flex-flow: column;
  padding:0px;
  margin: 0px;
  min-height: 200px;
}

#title{
  padding:10px 25px;
  color:white;
  background-color: $mainBlue;
  margin:25px 25px;
  font-size:35px;
  font-weight:200;
  text-align: center;
  border-radius: 10px;
}

#title:hover{
  cursor: pointer;
}

#navList li{
  display:flex;
  height:100%;
  color:white;
  font-weight:200;
  font-size:20px;
  align-items: center;
  text-align: center;
  padding:10px 5px 10px 25px;
}

#navList li:hover{
  border-right: 5px solid #D1E1FF;
  box-shadow: 15px 0px 0px 0px #D1E1FF inset;
  color: #D1E1FF;
  transition: all 0.5s ease-out 0s;
  cursor: pointer;
}

#navInfo{
  margin-top:auto;
}

#navSocial{

}

#navSocialList{
  margin:0px;
  padding:0px;
  list-style: none;
  color:white;
  display: flex;
  flex-flow: row;

  li{
  padding:5px;
  };
}