#navbar{
  background-color: $mainFiller;
}

#navList{
  list-style: none;
  padding:0px;
}

#navList li{
  padding:10px 15px;
  color:white;
  font-weight:200;
  font-size:20px;
  transition-duration: .75s;
}

#navList li:hover{
  background-color:white;
  color:$mainFiller;
  cursor: pointer;


}