<div id="header" class="flexRow">

    <div id="headerText">
        <div id="headerTextWrapper">
            <h1>Hi, i'm Reiker!</h1>
            <br>
            <br>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorem ea
                eligendi enim eum explicabo iste magni minima molestiae voluptate! Ad
                animi asperiores cupiditate eaque eos minus officia reiciendis voluptate?</p>
        </div>
    </div>
    <div id="headerImage">


    </div>

</div>

