<div id="navbar">
    <ul id="navList" class="flexRow flexHCenter">
        <li class="navItem">Education</li>
        <li class="navItem">Work Experience</li>
        <li class="navItem">Skills</li>
        <li class="navItem">Projects</li>
        <li class="navItem">Contact Me</li>
    </ul>
</div>