<div id="navbar" class="">
    <h1 id="title">Reiker Seiffe</h1>
    <ul id="navList" class="flexRow flexHCenter">
        <li class="navItem">Education</li>
        <li class="navItem">Work Experience</li>
        <li class="navItem">Skills</li>
        <li class="navItem">Projects</li>
        <li class="navItem">Contact Me</li>
    </ul>
    <div id="navInfo">
        <div id="navSocial" class="flexHCenter">
            <ul id="navSocialList">
                <li>
                    <i class="fa fa-github fa-2x" aria-hidden="true"></i></li>
                <li>
                    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                </li>
                <li>
                    <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                </li>
            </ul>
        </div>
    </div>
</div>